.drop-down {
    position: relative;

    &__content {
        position: absolute;
        display: none;
        z-index: 100;
        background-color: var(--color-grey-light-1);
        top: 100%;
        min-width: 100%;
        min-height: 100%;
        left: -30px;

        &--open {
            display: block;
        }
    }
}
